.panel {
    background-color: rgba(0, 0, 0, 0.82);
    align-items: center;
}

.container {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container > .unity-label {
    background-color: rgba(0, 0, 0, 0);
    align-items: stretch;
    align-self: auto;
    align-content: flex-start;
    justify-content: flex-start;
    font-size: 68px;
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    margin-top: 5%;
}

.unity-button {
    background-color: rgb(0, 59, 255);
    -unity-background-scale-mode: stretch-to-fill;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 10%;
    transform-origin: center;
    scale: 1 1.1;
    transition-property: scale;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.unity-text-element {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.buttoncontainer {
    background-color: rgb(255, 0, 0);
}

.unity-button:hover {
    scale: 1.1 1.2;
}

.unity-button:active {
    transform-origin: top;
}

.hidden {
    display: none;
    visibility: hidden;
    overflow: visible;
}

.stylprzyciskow {
    background-image: url("project://database/Assets/UI/GuiArt/BorderStyle1.png?fileID=2800000&guid=55b0fd22875fad945891e5d09bce7254&type=3#BorderStyle1");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(56, 56, 56);
    width: 40%;
    height: 15%;
    -unity-slice-left: 300;
    -unity-slice-top: 300;
    -unity-slice-right: 300;
    -unity-slice-bottom: 300;
    -unity-slice-scale: 0.1px;
}

.slider Label {
    display: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.slider #unity-dragger {
    background-color: rgb(255, 255, 255);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    top: -20%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-grow: 1;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: 140%;
    width: 6%;
}

.slider #unity-tracker {
    background-color: rgb(36, 36, 36);
    width: auto;
    height: 100%;
    justify-content: flex-start;
    align-self: auto;
    flex-grow: 1;
    top: 0;
    left: auto;
    right: auto;
    bottom: auto;
    align-items: stretch;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stylprzyciskow:hover {
    transition-duration: 0.5s;
    background-color: rgb(147, 91, 12);
    transition-property: all;
}

#DeleteSaveButton {
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    background-color: rgb(101, 0, 26);
}

#DeleteSaveButton:hover {
    transition-duration: 0.25s;
    border-left-color: rgb(204, 1, 1);
    border-right-color: rgb(204, 1, 1);
    border-top-color: rgb(204, 1, 1);
    border-bottom-color: rgb(204, 1, 1);
    background-color: rgb(255, 0, 0);
}
